*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: serif;
    background-color: rgb(235, 232, 228);
}
.main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row{
    padding: 30px;
    display: flex;
    gap: 20px; 
}
button{
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: chocolate;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    transition: 0.3s ease;
    cursor: pointer;
}
button:hover{
    opacity: 0.85;
}
.toast-container{
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    gap: 10px;

}
.toast{
    min-width: 250px;
    padding: 14px 20px;
    border-radius: 12px;
    color: #fff;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.4s forwards;
    position: relative;
}
.toast.success{ background: #28a745 ;}
.toast.error{background: #dc3545;}
.toast.info{background: #007bff;}

.toast.hide{
    animation: slideOut 0.4s forwards;
}
.progress-bar {
position: absolute;
bottom: 0;
left: 0;
height: 4px;
width: 100%;
background: rgba(255, 255, 255, 0.7); 
animation: shrink linear forwards;
}
@keyframes shrink {
from { width: 100%; }
to { width: 0%; }
}
@keyframes slideIn {
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes slideOut {
    to{
        opacity: 0;
        transform: translateX(100%)
    }
}
.close-btn{
    position: absolute;
    top: 6px;
    right: 10px;
    background: transparent;
    line-height: 4px;
    border-radius: 50px;
    cursor: pointer;
}